/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;

}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.col-sm-8 {
    margin-bottom: 20px;
    height: 100%;
}
.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}
div.scroll {
    background-color: #00FFFF;
    height: 100%;
    overflow: scroll;
}
.col-sm-4 {
    margin-bottom: 20px;
    height: 100%;
}
#contactInfo {
    background-color: rgb(46, 51, 55);
    color: white;
}
#navbar {
    display: inline;
}
